.game_env { display:flex:flex-flow:row wrap;height:100%;width:100%; }

.game_screen .dev { display:flex;flex-flow:column nowrap;justify-content:center;align-items:center;flex-grow:1;height:25%;width:25%;background-color:rgba(200,255,200, 1); }